@use "/src/styles/mixins" as *;
@use "/src/styles/variables" as *;

h4 {
    font-size: 12px;
    text-decoration: underline;

    @include tablet {
        font-size: 14px;
    }
}

footer {
    font-family: 'Roboto', sans-serif;
    height: 6rem;
    background-color: var(--grey-base);
    color: var(--white-font-color);
    bottom: 0;

    @include tablet {
        height: 6.5rem;
    }
}

.footercolumns {
    display: flex;
    font-size: 10px;
    line-height: 0.3rem;
    justify-content: space-evenly;

    @include tablet {
        font-size: 12px;
    }
}

.copyright {
    text-align: center;
    margin: 0.5rem;
    font-size: 9px;

    @include tablet {
        font-size: 12px;
    }
}